body{
    background:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           /* bottom, image */
           url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2);
    }
  .grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px black;
    margin-top: 100px;
  }
  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: greenyellow;
  }
  